.container {
    background: linear-gradient(135deg, #6A5BC2, #342B5F, #9A88FF);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    background-color: white;

    border-radius: var(--border-radius-small);

    width: 90%;
    padding: 1rem;

    .title {
        text-align: center;

        span {
            font-size: var(--font-size-very-tiny);

            display: block;
            margin-bottom: 2rem;
        }
    }

    .option {
        border-radius: var(--border-radius-medium);
        border: solid 1px #00000070;

        padding: .5rem 0;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        transition: all .5s;

        &:hover {
            background-color: #f0f0f0;
            cursor: pointer;
        }

        img {
            width: 2rem;
            height: 2rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .auth-container {
        width: 40%;
        min-height: 40%;

        .option {
            width: 80%;
        }
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}