<div class="container">

    <div class="auth-container">
        <div class="title">
            <h1>Login</h1>
            <span class="sub-title">Escolha uma opção para se autenticar</span>
        </div>

        <div class="option">
            <img src="/assets/icons/social-midia/google.svg" alt="">
            <span>Entrar com a conta do Google</span>
        </div>
        <div class="option">
            <img src="/assets/icons/social-midia/microsoft.svg" alt="">
            <span>Entrar com a conta do Microsoft</span>
        </div>
        <div class="option">
            <img src="/assets/icons/social-midia/linkedIn.svg" alt="">
            <span>Entrar com a conta do LinkedIn</span>
        </div>
    </div>
</div>