<div class="container">

  <div class="content">
    <app-talking-effect [audioURL]="audioUrl" [showAnimation]="runAnimation" (event)="stopAnimation()" />

    <span class="line"></span>

    <div id="messages" class="messages">
      @for (message of conversationHistory; track message) {
        @if (message.hasOwnProperty("user")) {
          <div class="contains-user-message">
            <div class="user-message">
              <p>{{ message["user"] }}</p>
            </div>
          </div>
        }
        @else {
          <p class="assistant-message">{{ message["assistant"] }}</p>
          }
          }          

      <div id="transcription" #transcription></div>
    </div>
  </div>

  <div class="container-controllers">
    <div class="controllers">
      <div class="contains-micro-indicator">
        <button #startBtn (click)="onStartButtonClick()">
          <img src="/assets/images/microfone.svg" alt="">
        </button>

        <span [style.animationDuration.s]="isRecording ? .8 : 0"></span>
        <span [style.animationDuration.s]="isRecording ? 1.8 : 0"></span>
      </div>

      <select #languageSelect>
        <option value="pt-BR">Português</option>
        <option value="en-US">Inglês</option>
        <option value="it-IT">Italiano</option>
        <option value="es-ES">Espanhol</option>
      </select>
    </div>
  </div>
</div>