.audio-container {
    display: flex;
    align-items: center;
    gap: .5rem;

    min-height: 10rem;
}

.circle {
    width: .8rem;
    height: 2.5rem;
    background-color: white;
    border-radius: var(--border-radius-small);
    transform: scale(1);
    opacity: 0.8;
    transition: transform 0.1s ease, opacity 0.1s ease;
}

.controls {
    visibility: hidden;
    position: absolute;
}

audio {
    display: none;
}