.audio-container {
    display: flex;
    align-items: center;
    gap: .5rem;

    min-height: 5rem;
    padding: 1rem;
    border-radius: var(--border-radius-small);

    background-color: var(--ternary-color);
}

.circle {
    width: .8rem;
    height: 2.5rem;

    background-color: var(--secondary-color);
    border-radius: var(--border-radius-small);

    transform: scale(1);
    transition: transform 0.1s ease, opacity 0.1s ease;

    opacity: 0.8;
}

.controls {
    visibility: hidden;
    position: absolute;
}

audio {
    display: none;
}